.row.user-profile
  .col-md-12.profile
    .panel.panel-default
      .panel-body
        .row
          .col-md-2
            =image_tag 'http://lorempixel.com/125/125/cats/'
          .col-md-10
            .row
              .col-md-4
                %span.small
                  tweets
              .col-md-4
                %span.small
                  following
              .col-md-4
                %span.small
                  followers
            .row
              .col-md-4
                %span.small
                  10
              .col-md-4
                %span.small
                  6
              .col-md-4
                %span.small
                  5
.row
  .col-md-3.blue-border
    %p.small Rick B<br>@rickbacci_175
    %p.small Description
    %p.small Home

  .col-md-6.main-feed
    = render 'shared/tweet'
    = render 'shared/tweet'
    = render 'shared/tweet'
    = render 'shared/tweet'
    = render 'shared/tweet'

  .col-md-3.blue-border
    %p Who to follow?
