-if current_user
  .row.user-profile
    .col-md-12.profile
      .panel.panel-default
        .panel-body
          .row
            .col-md-2
              = image_tag current_user.image
            .col-md-10
          = render 'shared/counts'
      .row
        .col-md-3.user-profile
          %span.small
            = current_user.name
            %br
            = user_screen_name
            %br
          %span.small
            = user_description
            %br
          %span.small
            = user_location

        .col-md-6.main-feed
          = render 'shared/user_timeline'
        .col-md-3.user-profile
