- if current_user
  - home_timeline.each do |tweet|
    .panel.panel-default
      .panel-body
        .row
          .col-md-2
            = image_tag tweet.user.profile_image_url.to_s
          .col-md-10
            %span
              = tweet.user.name
            %span
              = "@#{tweet.user.screen_name}"
            %span
              = tweet_time(tweet.created_at)
            %p
              = tweet.text
        .row
          .col-md-4
            %a{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-target" => "#collapseExample#{tweet.id}", "data-toggle" => "collapse", :type => "button"}
              %span.glyphicon.glyphicon-share-alt
            %div(id="collapseExample#{tweet.id}"
                     class="collapse")
              .well
                = render 'shared/tweet_form'
          .col-md-4
            %a{:href => "#"}
              %span.glyphicon.glyphicon-retweet
          .col-md-4
            - if tweet.favorited?
              = link_to "/unfavorite/#{tweet.id}", method: :post, class: "unfav-tweet tweet-#{tweet.id}" do
                %span.glyphicon.glyphicon-star
            - else
              = link_to "/favorite/#{tweet.id}", method: :post, class: "fav-tweet tweet-#{tweet.id}" do
                %span.glyphicon.glyphicon-star-empty

