- if current_user
  .row.main-content
    .col-md-3.profile-summary
      .panel.panel-default
        .panel-body
          .row
            .col-md-2
              = image_tag current_user.image
            .col-md-10
              .text-right
                = current_user.name
                %br
                = current_user.nickname
                %br
          = render 'shared/counts'
    .col-md-6.main-feed
      = render 'shared/tweet_form'
      = render 'shared/home_timeline'

    .col-md-3.blue-border
