.row.main-content
  .col-md-3.profile-summary
    .panel.panel-default
      .panel-body
        %p Profile Summary

  .col-md-6.main-feed
    = render 'shared/tweet_form'
    = render 'shared/tweet'
    = render 'shared/tweet'
    = render 'shared/tweet'
    = render 'shared/tweet'
    = render 'shared/tweet'

  .col-md-3.blue-border
    %p Who to follow?
