.row.main-content
  .col-md-3.profile-summary
    .panel.panel-default
      .panel-body
        %p left column
  .col-md-6.main-feed
    .panel.panel-default
      .panel-body
        %form.form
          .form-group
            %textarea.form-control{:rows => "3", placeholder: "Whats happening?"}
        %button.btn.pull-right.btn-default.tweet-btn{:type => "submit"} Tweet
    .panel.panel-default
      .panel-body
        .row
          .col-md-2
            =image_tag 'http://lorempixel.com/50/50/cats/'
          .col-md-10
            %span
              name
            %span
              @twitter_handle
            %span
              1hr
            %p This is my cool tweet! It can take <br> multiple lines
        .row
          .col-md-2
            = button_to "Reply", class: 'pull-left'
          .col-md-2
            = button_to "retweet", class: 'pull-left'
          .col-md-2
            = button_to "Favorite"

    .panel.panel-default
      .panel-body
        .row
          .col-md-2
            =image_tag 'http://lorempixel.com/50/50/cats/'
          .col-md-10
            %span
              name
            %span
              @twitter_handle
            %span
              1hr
            %p This is my cool tweet! It can take <br> multiple lines
        .row
          .col-md-2
            = button_to "Reply", class: 'pull-left'
          .col-md-2
            = button_to "retweet", class: 'pull-left'
          .col-md-2
            = button_to "Favorite"

    .panel.panel-default
      .panel-body
        .row
          .col-md-2
            =image_tag 'http://lorempixel.com/50/50/cats/'
          .col-md-10
            %span
              name
            %span
              @twitter_handle
            %span
              1hr
            %p This is my cool tweet! It can take <br> multiple lines
        .row
          .col-md-2
            = button_to "Reply", class: 'pull-left'
          .col-md-2
            = button_to "retweet", class: 'pull-left'
          .col-md-2
            = button_to "Favorite"
  .col-md-3.blue-border
    %p Right column
