- if current_user
  .row.main-content
    .col-md-3.profile-summary
      .panel.panel-default
        .panel-body
          .row
            .col-md-2
              = image_tag current_user.image
            .col-md-10
              %p.small
                = current_user.name
                = "@#{current_user.twitter_client.user.screen_name}"
          .row
            .col-md-4
              %span.small
                tweets
            .col-md-4
              %span.small
                following
            .col-md-4
              %span.small
                followers
          .row
            .col-md-4
              %span.small
                = current_user.twitter_client.user.tweets_count
            .col-md-4
              %span.small
                6
            .col-md-4
              %span.small
                = current_user.twitter_client.user.followers_count
    .col-md-6.main-feed
      = render 'shared/tweet_form'
      = render 'shared/tweet'
      = render 'shared/tweet'
      = render 'shared/tweet'
      = render 'shared/tweet'
      = render 'shared/tweet'

    .col-md-3.blue-border
      %p Who to follow?
